이건 새로워서 같이 하나씩 해야

##  데이타 전처리

    
1. 누락값(결측치) 처리
        - 누락값을 가진 행 제거
        - 누락값을 다른 값으로 대치 : 0, 평균값 
        
2. 데이타 필터링 
        : 기준에 맞는 데이터를 걸러내는 것

In [1]:
import seaborn as sb
import numpy as np

""" 0 . 데이타 만들기
    데이타셋에서 임의의 10개의 데이타를 추출하고 그 중에서 4개의 total_bill이 값을 누적값으로 입력 
"""
np.random.seed(42)  # 여기숫자로 정해진 램던수를 뽑는다고?
tips_10 = sb.load_dataset('tips').sample(10)
print(tips_10)
tips_10.loc[ np.random.permutation(tips_10.index)[:4], 'total_bill'] = np.NaN   # permutate 뜻 :  항목을 다른순서로 바꾸다 ( shuffle 하고 유사???)
print(tips_10)

     total_bill   tip     sex smoker   day    time  size
24        19.82  3.18    Male     No   Sat  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
153       24.55  2.00    Male     No   Sun  Dinner     4
211       25.89  5.16    Male    Yes   Sat  Dinner     4
198       13.00  2.00  Female    Yes  Thur   Lunch     2
176       17.89  2.00    Male    Yes   Sun  Dinner     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
9         14.78  3.23    Male     No   Sun  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2
     total_bill   tip     sex smoker   day    time  size
24        19.82  3.18    Male     No   Sat  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
153         NaN  2.00    Male     No   Sun  Dinner     4
211         NaN  5.16    Male    Yes   Sat  Dinner     4
198         NaN  2.00  Female    Yes  Thur   Lunch     2
176         NaN  2.00    Male    Yes   Sun  Dinner     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
9         14.78  3.23    Male     No   Sun  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [2]:
""" 1. 누락값(결측치) 처리
        - 누락값을 가진 행 제거
        - 누락값을 다른 값으로 대치 : 0, 평균값 
        
        그러나 여기서는 단순 평균값으로 대치하면 
        여성보다 인원이 더 많은 남성 데이타의 영향을 받아
        여성 데이타가 훼손될 수 있다
"""

# 우선 성별에 따른 수를 확인
# print(tips_10.groupby('sex').count())

# 각각의 평균값으로 누락값(결측치)를 대치
def fill_na_mean(x):
    avg = x.mean()
    return x.fillna(avg)


fill_total_bill = tips_10.groupby('sex').total_bill.apply(fill_na_mean)
tips_10['fill_total_bill'] = fill_total_bill
tips_10

"""
# 내가 정의한 함수를 적용하기 위해 transform()이용
fill_total_bill = tips_10.groupby('sex').total_bill.transform(fill_na_mean)
tips_10['fill_total_bill'] = fill_total_bill
tips_10


transform()와 apply() 차이는???????

"""

     total_bill   tip     sex smoker   day    time  size  fill_total_bill
24        19.82  3.18    Male     No   Sat  Dinner     2          19.8200
6          8.77  2.00    Male     No   Sun  Dinner     2           8.7700
153         NaN  2.00    Male     No   Sun  Dinner     4          17.9525
211         NaN  5.16    Male    Yes   Sat  Dinner     4          17.9525
198         NaN  2.00  Female    Yes  Thur   Lunch     2          13.9300
176         NaN  2.00    Male    Yes   Sun  Dinner     2          17.9525
192       28.44  2.56    Male    Yes  Thur   Lunch     2          28.4400
124       12.48  2.52  Female     No  Thur   Lunch     2          12.4800
9         14.78  3.23    Male     No   Sun  Dinner     2          14.7800
101       15.38  3.00  Female    Yes   Fri  Dinner     2          15.3800

In [9]:
""" 2. 데이타 필터링 
        : 기준에 맞는 데이터를 걸러내는 것
        
        
        
  (1) 원본 tips 데이타셋에서 손님수별 정보를 추출
"""


# tips의 데이타 크기 확인 ( 행과 열수 확인 : shape )
tips = sb.load_dataset('tips')
tips.shape

# 손님수(size 컬럼)의 수를 확인
tips['size'].value_counts() 
# [결과] 1, 6, 5명의 주문이 매우 적다

# 상황에 따라서 주문이 적은 경우를 제외하고 분석하고자 한다면
# 예를 들어 주문이 30번 이상의 주문만 있는 데이타셋으로 필터링 ( 물론 정렬하고 간단하게 추출해도 되지만 전문가 방식 익히기)
redata = tips.groupby('size').filter( lambda x: x['size'].count()>=30 )
redata.shape
redata['size'].value_counts()

2    156
3     38
4     37
Name: size, dtype: int64

In [24]:
"""
    (2) tips_10 샘플에서 성별에 따른 데이타를 필터링해 보자
"""

# np.random.seed(42)  
# tips_10 = sb.load_dataset('tips').sample(10)
# print(tips_10)

# 위의 2 방식이 동일하게 임의의 10개의 행을 추출
tips_10 = sb.load_dataset('tips').sample(10, random_state=42)
print(tips_10)


# 성별에 따른 데이타셋
sex_group = tips_10.groupby('sex')
sex_group  # 자료형이 그룹 오브젝트임을 알수 있음
print(sex_group)

print(sex_group.groups) # 그룹화 데이타프레임의 인덱스(**)를 확인

# # 그룹화된 데이타프레임에서 그룹연산함수를 이용
# print(sex_group.mean())
# # 그룹 오브젝트내에서 그룹연산합수를 사용할 수 있는 컬럼만 걸러준다

# 그룹 오브젝트에서 데이타 추출
# print(sex_group.get_group('Female'))
# print(sex_group.get_group('Male'))

for item in sex_group:
    print('첫컬럼값:', item[0])
    print('두번째값:', item[1])

     total_bill   tip     sex smoker   day    time  size
24        19.82  3.18    Male     No   Sat  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
153       24.55  2.00    Male     No   Sun  Dinner     4
211       25.89  5.16    Male    Yes   Sat  Dinner     4
198       13.00  2.00  Female    Yes  Thur   Lunch     2
176       17.89  2.00    Male    Yes   Sun  Dinner     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
9         14.78  3.23    Male     No   Sun  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000232F20ADDD8>
{'Male': Int64Index([24, 6, 153, 211, 176, 192, 9], dtype='int64'), 'Female': Int64Index([198, 124, 101], dtype='int64')}
첫컬럼값: Male
두번째값:      total_bill   tip   sex smoker   day    time  size
24        19.82  3.18  Male     No   Sat  Dinner     2
6          8.77  2.00  Male     No   Sun  Dinner     2
153       24.55  2.00  Male     No   Sun  Dinner     4
211       25.89  5.16  Male    Yes   Sat  Dinner     4
176       17.89  2.00  Male    Yes   Sun  Dinner     2
192       28.44  2.56  Male    Yes  Thur   Lunch     2
9         14.78  3.23  Male     No   Sun  Dinner     2
첫컬럼값: Female
두번째값:      total_bill   tip     sex smoker   day    time  size
198       13.00  2.00  Female    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [12]:
""" [연습] 성별에 따라 시간대별로 평균값을 구하기 """
bill_sex_time = tips_10.groupby(['sex','time'])
bill_sex_time.mean()
bill_sex_time.mean().reset_index()  # 인덱스 새로 부여

      sex    time  total_bill       tip      size
0    Male   Lunch   28.440000  2.560000  2.000000
1    Male  Dinner   18.616667  2.928333  2.666667
2  Female   Lunch   12.740000  2.260000  2.000000
3  Female  Dinner   15.380000  3.000000  2.000000